<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [28]:
import pandas as pd
import numpy as np
import datetime as dt
import csv

In [2]:
# google_df1 = pd.read_html('https://docs.google.com/spreadsheets/d/128wrp-t37KNodHGhAZVq3bzxs69JaJmd/edit?usp=drive_link&ouid=103557660010487701162&rtpof=true&sd=true')
# google_df1.head()

In [3]:
# создаем список файлов, которые нужно загрузить
file_names=['01.01.24-30.06.24.xls','01.07.2024-31.12.2024.xls','01.01.2023-31.06.2023.xls','01.07.2023-31.12.2023.xls','01.01.2022-30.06.2022.xls','01.07.2022-31.12.2022.xls']

In [4]:
# создаем список названий необходимых столбцов
col_list =['ID','Дата начала (Минимальное)','Комментарий','Направление сделки','Стадия сделки','В стадии: Удачно',\
           'Ожидаемая сумма','Полученная сумма','Утраченная сумма','Повторная сделка','Датавремя платежа',\
           'Фактическая сумма пожертвования', 'Контакт: ID','Контакт: Дата создания','Контакт: Город_',\
           'Контакт: Страна_','Контакт: Регион_','Контакт: Дата создания в базе','Контакт: Пол',\
          'Код (список)','Контакт: Аналитика: Дата первого пожертвования']

In [5]:
# создадим датафрейм, загрузив файл из списка file_names с индексом 0
df = pd.read_html(file_names[0], skiprows=0, header=0)[0]
# удаляем все столбцы, кроме выбранных из списка col_list
df.drop(columns=df.columns.difference(col_list), inplace=True)

In [6]:
# запустим цикл, который пройдет по списку с файлами file_names 
for i in range(1,len(file_names)): 
    data = pd.read_html(file_names[i], skiprows=0, header=0)[0]
    data.drop(columns=data.columns.difference(col_list), inplace=True)# удаляем все столбцы, кроме выбранных из списка col_list
    df = pd.concat([df,data], ignore_index = True)

In [7]:
df.head()

,ID,Дата начала (Минимальное),Комментарий,Направление сделки,Стадия сделки,В стадии: Удачно,Ожидаемая сумма,Полученная сумма,Утраченная сумма,Повторная сделка,...,Контакт: Дата создания,Контакт: Город_,Контакт: Страна_,Контакт: Регион_,Контакт: Дата создания в базе,Контакт: Пол,Контакт: Аналитика: Дата первого пожертвования,Датавремя платежа,Код (список),Фактическая сумма пожертвования
0,382389,05.06.2024,"Ежемесячное пожертвование в БФ ""Синдром любви""",Пожертвования,Prospecting,Нет,500,0,500,Да,...,05.08.2023,Вена,NaN,NaN,05.08.2023,Ж,05.08.2023,05.06.2024,f212,0.0
1,382391,05.06.2024,Поддержать соревнование,Пожертвования,Posted,Да,500,500,0,Да,...,09.01.2024,Химки,NaN,NaN,09.01.2024,0,02.01.2024,05.06.2024,f207,485.5
2,382399,05.06.2024,"Ежемесячное пожертвование в БФ ""Синдром любви""",Пожертвования,Posted,Да,1 000,1 000,0,Да,...,03.08.2022,Москва,Россия,Москва,30.07.2015,0,30.10.2012,05.06.2024,f212,971.0
3,382423,05.06.2024,Поддержать соревнование,Пожертвования,Posted,Да,130,130,0,Да,...,21.03.2024,Париж,NaN,NaN,NaN,Ж,21.03.2024,05.06.2024,f207,126.1
4,382427,05.06.2024,"Разовое пожертвование в БФ ""Синдром любви""",Пожертвования,Posted,Да,2 500,2 500,0,Да,...,03.08.2022,г Москва,Россия,г Москва,10.04.2022,0,10.04.2022,05.06.2024,f214,2427.5

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58161 entries, 0 to 58160
Data columns (total 21 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   ID                                              58161 non-null  int64
 1   Дата начала (Минимальное)                       58161 non-null  object
 2   Комментарий                                     37505 non-null  object
 3   Направление сделки                              58161 non-null  object
 4   Стадия сделки                                   58161 non-null  object
 5   В стадии: Удачно                                58161 non-null  object
 6   Ожидаемая сумма                                 58161 non-null  object
 7   Полученная сумма                                58161 non-null  object
 8   Утраченная сумма                                58161 non-null  object
 9   Повторная сделка                                58161 non-null  object
 10  Контакт: ID                                     52321 non-null  float64
 11  Контакт: Дата создания                          52321 non-null  object
 12  Контакт: Город_                                 37225 non-null  object
 13  Контакт: Страна_                                33217 non-null  object
 14  Контакт: Регион_                                19551 non-null  object
 15  Контакт: Дата создания в базе                   48444 non-null  object
 16  Контакт: Пол                                    41338 non-null  object
 17  Контакт: Аналитика: Дата первого пожертвования  42075 non-null  object
 18  Датавремя платежа                               45298 non-null  object
 19  Код (список)                                    45231 non-null  object
 20  Фактическая сумма пожертвования                 58161 non-null  float64
dtypes: float64(2), int64(1), object(18)
memory usage: 9.3+ MB

In [9]:
col_sum=['Ожидаемая сумма','Полученная сумма','Утраченная сумма']

In [13]:
for col in col_sum:
    df[col]=df[col].apply(lambda p: float(''.join(filter(str.isdigit, p)))if not p.isnumeric() else float(p))

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58161 entries, 0 to 58160
Data columns (total 21 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   ID                                              58161 non-null  int64
 1   Дата начала (Минимальное)                       58161 non-null  object
 2   Комментарий                                     37505 non-null  object
 3   Направление сделки                              58161 non-null  object
 4   Стадия сделки                                   58161 non-null  object
 5   В стадии: Удачно                                58161 non-null  object
 6   Ожидаемая сумма                                 58161 non-null  float64
 7   Полученная сумма                                58161 non-null  float64
 8   Утраченная сумма                                58161 non-null  float64
 9   Повторная сделка                                58161 non-null  object
 10  Контакт: ID                                     52321 non-null  float64
 11  Контакт: Дата создания                          52321 non-null  object
 12  Контакт: Город_                                 37225 non-null  object
 13  Контакт: Страна_                                33217 non-null  object
 14  Контакт: Регион_                                19551 non-null  object
 15  Контакт: Дата создания в базе                   48444 non-null  object
 16  Контакт: Пол                                    41338 non-null  object
 17  Контакт: Аналитика: Дата первого пожертвования  42075 non-null  object
 18  Датавремя платежа                               45298 non-null  object
 19  Код (список)                                    45231 non-null  object
 20  Фактическая сумма пожертвования                 58161 non-null  float64
dtypes: float64(5), int64(1), object(15)
memory usage: 9.3+ MB

In [22]:
col_date=['Дата начала (Минимальное)', 'Контакт: Аналитика: Дата первого пожертвования','Датавремя платежа']

In [25]:
for col in col_date:
    df[col]=pd.to_datetime(df[col],errors = 'coerce')

/var/folders/xj/_w6nxz9x6270x2jptsqzy58r0000gn/T/ipykernel_27440/2444543996.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df[col]=pd.to_datetime(df[col],errors = 'coerce')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58161 entries, 0 to 58160
Data columns (total 21 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   ID                                              58161 non-null  int64
 1   Дата начала (Минимальное)                       58161 non-null  datetime64[ns]
 2   Комментарий                                     37505 non-null  object
 3   Направление сделки                              58161 non-null  object
 4   Стадия сделки                                   58161 non-null  object
 5   В стадии: Удачно                                58161 non-null  object
 6   Ожидаемая сумма                                 58161 non-null  float64
 7   Полученная сумма                                58161 non-null  float64
 8   Утраченная сумма                                58161 non-null  float64
 9   Повторная сделка                                58161 non-null  object
 10  Контакт: ID                                     52321 non-null  float64
 11  Контакт: Дата создания                          52321 non-null  datetime64[ns]
 12  Контакт: Город_                                 37225 non-null  object
 13  Контакт: Страна_                                33217 non-null  object
 14  Контакт: Регион_                                19551 non-null  object
 15  Контакт: Дата создания в базе                   48444 non-null  datetime64[ns]
 16  Контакт: Пол                                    41338 non-null  object
 17  Контакт: Аналитика: Дата первого пожертвования  42066 non-null  datetime64[ns]
 18  Датавремя платежа                               45298 non-null  datetime64[ns]
 19  Код (список)                                    45231 non-null  object
 20  Фактическая сумма пожертвования                 58161 non-null  float64
dtypes: datetime64[ns](5), float64(5), int64(1), object(10)
memory usage: 9.3+ MB

In [30]:
df['Контакт: Пол'].unique()

array(['Ж', '0', 'М', nan], dtype=object)

In [29]:
with open('output.csv', mode='w', newline='') as file:
    csv_writer = csv.writer(file)
    csv_writer.writerows(df)

In [31]:
# проверим пропущенные значения
report = df.isna().sum().to_frame()
report = report.rename(columns = {0: 'missing_values'})
report['% of total'] = (report['missing_values'] / df.shape[0]).round(2)*100
report.sort_values(by = 'missing_values', ascending = False)

                                                missing_values  % of total
Контакт: Регион_                                         38610        66.0
Контакт: Страна_                                         24944        43.0
Контакт: Город_                                          20936        36.0
Комментарий                                              20656        36.0
Контакт: Пол                                             16823        29.0
Контакт: Аналитика: Дата первого пожертвования           16095        28.0
Код (список)                                             12930        22.0
Датавремя платежа                                        12863        22.0
Контакт: Дата создания в базе                             9717        17.0
Контакт: ID                                               5840        10.0
Контакт: Дата создания                                    5840        10.0
ID                                                           0         0.0
Дата начала (Минимальное)                                    0         0.0
Повторная сделка                                             0         0.0
Утраченная сумма                                             0         0.0
Полученная сумма                                             0         0.0
Ожидаемая сумма                                              0         0.0
В стадии: Удачно                                             0         0.0
Стадия сделки                                                0         0.0
Направление сделки                                           0         0.0
Фактическая сумма пожертвования                              0         0.0

Чтобы установить связь пропусков в столбце balance с данными, добавим столбец, в котором будет отображаться 0 - если пропуска в балансе нет и 1 -  если пропуск есть.

In [ ]:
df['missing_balance'] = np.where(df['balance'].isna(),1,0)
df.head()

In [ ]:
df_corr_balance=df.corr()
df_corr_balance=df_corr_balance.drop(['user_id','balance'])
df_corr_balance

In [ ]:
sns.heatmap(df_corr_balance.loc[:,['missing_balance']].drop('missing_balance'), annot=True, cmap='vlag', center=0, fmt='.2%')    
plt.title('Корреляция пропусков в столбце balance') 
plt.show()

In [32]:
# проверим наличие дубликатов

print('Количество дубликатов в таблице:', df.duplicated().sum())

Количество дубликатов в таблице: 10672

Проверим на уникальность значения столбцов Контакт: Пол и Контакт: Город_

In [34]:
df['Контакт: Город_'].value_counts()

Москва                        18695
Санкт-Петербург                1366
г Москва                       1115
Екатеринбург                    642
Краснодар                       518
                              ...
Herndon                           1
Charlesbourg                      1
Ульчновск                         1
пос. Сосенское, Коммунарка        1
г Юрга                            1
Name: Контакт: Город_, Length: 1538, dtype: int64

In [35]:
df['Контакт: Пол'].value_counts()

0    25075
Ж    11277
М     4986
Name: Контакт: Пол, dtype: int64

In [37]:
df['Контакт: ID'].value_counts()

343989.0    200
438703.0    186
436259.0    138
416421.0    127
432427.0    106
           ...
475091.0      1
474733.0      1
474151.0      1
474991.0      1
355995.0      1
Name: Контакт: ID, Length: 16283, dtype: int64